appdirs==1.4.4
importlib-metadata==4.8.2
Jinja2==3.0.3
MarkupSafe==2.0.1
pyee==8.2.2
PyPDF2==1.26.0
pyppeteer==0.2.6
python-dateutil==2.8.1
ruamel.yaml==0.17.2
ruamel.yaml.clib==0.2.2
six==1.15.0
strictyaml==1.4.0
tqdm==4.62.3
urllib3==1.26.7
websockets==9.1
zipp==3.6.0
